*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Styling what we do */
.what-we-do {
    display: flex;
    justify-content: center;
    padding: 1%;
}
.what-we-do .title{
    width: 600px;
    padding: 10%;
}
.title h2{
    font-family: "Antonio", sans-serif;
}
.what-we-do .paragraph{
    padding : 5%;
}
/* Styling our goal */
.our-goal{
    display: flex;
    justify-content: center;
    padding: 1%;
}
.our-goal .title1{
    width: 600px;
    padding: 10%;  
}
.title1 h2{
    font-family: "Antonio", sans-serif;
}
.our-goal .paragraph{
    padding: 5%;
}