*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 /* NAV STYLING */
 nav{
    background-color: #2364AA;
    color: #000000;
    padding: 0.5% 5%;
    align-items: center;
}
.navbar-links{
    margin-right: 10%;
}
.navbar-links li{
    list-style: none;
    font-size: 1.3rem;
}
.logo a {
    text-decoration: none;
}
.logo a h1{
    color: #000000;
    font-size: x-large;
    padding: 2%;
}
.nav-link{
    color: #FFFFFF;
    font-weight: bolder;
    padding: 0.5rem;
    border-radius: 15px;
} 
.nav-link:hover{
    background-color: #EEEEEE;
    color: #000000;
}
     /* NAV STYLING */
     /* Styling about-us title */
.about-us h2{
    font-family: "Antonio", sans-serif;
    text-align: center;
    padding-top: 2%;
    font-size: 40px;
}
.about-us:after { 
    content:"";
    display:block;
    width: 6em;
    max-width:70%;
    border-bottom: 0.3em solid #b5d9ff;
    margin: 1em auto 0;
}


/* Styling what we do */
.what-we-do {
    display: flex;
    justify-content: center;
    padding: 3%;
}
.what-we-do .title{
    background-color: #b5d9ff;
    width: 130vh;
    padding: 12%;
    border-radius: 3%;
    text-align: center;
    
}
.title h2{
    font-family: "Antonio", sans-serif;
    font-size: 33px;
}
.what-we-do .paragraph{
    padding : 5%;
}
/* Styling our goal */
.our-goal{
    display: flex;
    justify-content: center;
    padding: 3%;
}
.our-goal .title1{
    width: 150vh;
    padding: 12%;
    text-align: center;
    background-color: #b5d9ff;
    border-radius: 3%;  
}
.title1 h2{
    font-family: "Antonio", sans-serif;
    font-size: 33px;
}
.our-goal .paragraph1{
    padding: 3%;
}
p{
    font-family: "poppins", sans-serif;
    text-align: justify;
}
/* Style team section */
/* #team { */
    /* background-color:  #cbe1f6; */

.team h2{
    text-align: center;
    font-family: "Antonio", sans-serif;
    padding-bottom: 1%;
}
.team {
    padding: 2%;
}
.col-3 img {
height: 40vh;
}
.team p {
    text-align:center;
}