*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
 text-align: center;
}
h1, h2, h3, h4, h5, h6, a, li{
    font-family: 'Antonio', sans-serif;
}
p{
    font-family: 'Poppins', sans-serif;
}
        /* NAV STYLING */
nav{
    background-color: #2364AA;
    color: #000000;
    /* position: fixed; */
    padding: 0.5% 5%;
    align-items: center;
}
#nav{
    position: fixed;
    z-index: 3;

}
.navbar-links{
    margin-right: 10%;
}
.navbar-links li{
    list-style: none;
    font-size: 1.3rem;
}
.logo{
    padding-left: 5%;
}
.logo a {
    text-decoration: none;
}
.logo a h1{
    color: #FFFFFF;
    font-size: x-large;
    padding: 2% 0%;
}
span{
    background-color: #b5d9ff;
    padding: 5px;
    color: #000000;
    border-radius: 0.1rem 1rem;
}

.nav-link{
    color: #FFFFFF;
    font-weight: bolder;
    padding: 0.5rem;
    margin-left: 1rem;
    border-radius: 15px;
} 
.nav-link:hover{
    background-color: #b5d9ff;
    color: #000000;
}
        /* NAV STYLING */
        /* MAIN SECTION STYLING */
.main{
    padding: 5% 0%;
}
.main h3{
    padding: 5%;
}
.col-md-4{
    position: relative;
}
.content{
    color: #000000;
    cursor: pointer;
    border: #2364AA solid;
    position: relative;
    border-radius: 20px;
    margin: 5%;
    padding: 5%;
    height: 60vh;
    background: linear-gradient( #2364AA 40%, #FFFFFF , #ffffff 59%);
}
.content .img-fluid{
    padding-bottom: 25%;
}
.content p{
 position: absolute;
 bottom: 1%;
 right: 1%;
 padding: 0% 5%;
}
.content:hover{
    /* position: absolute; */
    left: 1%;
    bottom: 3%;
    border: #2364AA double;
}
.content p:hover{
    text-decoration: underline;
    text-decoration-color: #2364AA;
    text-decoration-thickness: 3px;
}
        /* MAIN SECTION STYLING */
        /* TUTORIALS SECTION STYLING */
#tutorials{
    padding-top: 15%;
    padding-bottom: 5%;
}
#tutorials .content{
    height: 50vh;   
}
.hidden{
    display: none;
    position: relative;
}
button{
    padding: 0.5%;
    background-color: #b5d9ff;
    border-color: #b5d9ff;
    border-radius: 1rem;
    /* position: absolute; */
    /* right: 3rem; */
    /* bottom: rem; */
}
        /* TUTORIALS SECTION STYLING */
        /* GUIDES SECTION STYLING */
.guides{
    text-align: left;
    padding-top: 10%;
}
.guides h3, .guides h4, .guides h5{
    padding: 2% 0%; 
}

        /* GUIDES SECTION STYLING */
        /* FOOTER STYLING */
footer{
    background-color: #b5d9ff;
    text-align: left;
    color: #000000;
}
footer li{
    list-style: none;
}
footer a{
    text-decoration: none;
    color: #000000;
}
footer .btn{
    margin-top: 1%;
    background-color: #2364AA;
    padding: 2%;
    font-family: 'Poppins', sans-serif;;
}
footer .btn:hover{
    background-color: #2364aab2;
}
.form{
    padding-top: 1.5%;
}
        /* FOOTER STYLING */
