
        
        *{
            margin: 0;
            padding: 0;
            /* box-sizing: border-box; */
        }
        body{
         text-align: center;
        }
                /* NAV STYLING */
        nav{
            background-color: #2364AA;
            color: #000000;
            padding: 0.5% 5%;
            /* align-items: right;
            float: right; */
            
        }
        .navbar-links{
            margin-right: 10%;
        }
        .navbar-links li{
            list-style: none;
            font-size: 1.3rem;
            align-items: right;
        }
        .logo a {
            text-decoration: none;
        }
        .logo a h1{
            color: #000000;
            font-size: x-large;
            padding: 2%;
        }

        .nav-link{
            color: #FFFFFF;
            font-weight: bolder;
            padding: 0.5rem;
            border-radius: 15px;
        } 
        .nav-link:hover{
            background-color: #EEEEEE;
            color: #000000;
        }
        title {
            font-family: 'Antonio', sans-serif;
            font-size: 30px;

        }
        .jumbotron {
            background-image: url("../img/logo/banner1.jpg");
            background-size: cover;
            background-position: center center;
            text-align: right;
            background-repeat: no-repeat;
            max-height: 100%;
            color: black;
            
        }
        .jumbotron h1 {
            font-size: 70px;
            font-family: 'Patrick Hand', cursive;
            text-decoration:none;
        }
        .jumbotron h1:hover {
            color: #2364AA;
        }
        h1 {
            font-family: 'Antonio', sans-serif;
            font-size: 40px;
            text-decoration: underline;
        }
        p, li {
            font-family: 'Poppins', sans-serif;
        }
        p {
            font-size: 30px;
        }
        li {
            font-size: 20px;
        }
        ol {
            list-style-position: inside;
        }
        .servicebutton {
            padding-top: 18px;
        }
        .servicebutton a {
            color: white;
        }
        .contact-us p {
            font-size: 25px;
            padding-top: 20px;
        }
        .formsection button {
            padding-top: 15px;
        }
        footer {
            background-color: #2364AA;

        }











        
      
                          