
        
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body{
         text-align: center;
        }
                /* NAV STYLING */
        nav{
            background-color: #2364AA;
            color: #000000;
            padding: 0.5% 5%;
            align-items: center;
        }
        .navbar-links{
            margin-right: 10%;
        }
        .navbar-links li{
            list-style: none;
            font-size: 1.3rem;
        }
        .logo a {
            text-decoration: none;
        }
        .logo a h1{
            color: #000000;
            font-size: x-large;
            padding: 2%;
        }

        .nav-link{
            color: #FFFFFF;
            font-weight: bolder;
            padding: 0.5rem;
            border-radius: 15px;
        } 
        .nav-link:hover{
            background-color: #EEEEEE;
            color: #000000;
        }
        h1 {
            font-family: 'Antonio', sans-serif;
        }
        p, li {
            font-family: 'Poppins', sans-serif;
        }
        ol {
            list-style-position: inside;
        }











        
      
                          