
        
        *{
            margin: 0;
            padding: 0;
            /* box-sizing: border-box; */
        }
        body{
         text-align: center;
        }
        
       /* Jumbotron */
        .jumbotron {
            background-image: url("../img/logo/pexels-mikhail-nilov-7584674\ \(2\).jpg");
            background-size: cover;
            background-position: center center;
            text-align: right;
            background-repeat: no-repeat;
            height: 90vh;
            color: black;
            
        }
        .jumbotron h1 {
            font-size: 70px;            
            text-decoration:none;
            /* float: center; */
            padding-right: 60%;
            padding-top: 20%
        }
        
        h1 {
            font-family: 'Antonio', sans-serif;
            
            text-decoration: underline;
            text-decoration-color: #b5d9ff;
        }
        p, li {
            font-family: 'Poppins', sans-serif;
        }
        p {
            font-size: 25px;
        }
        li {
            font-size: 20px;
        }
        ol {
            list-style-position: inside;
            text-align: left;
            padding: 1% 30%;
            
        }
        .aboutus {
            padding: 5% 10%;

        }
        .services {
            /* background-color: rgba(16, 229, 236, 0.24); */
        }
        
        .service-logo {
            border: #2364AA dotted;
            border-radius: 20px;
            margin-left: 0.01px;
            /* padding: 2%; */
        }
        .service-logo:hover {
            left: 2%;
            bottom: 4%;
            border: 5px #b5d9ff double;          
                           
        }
        .servicebutton {
            padding-top: 20px;
            padding-bottom: 20px;
            
        }
        .btn {
            background-color: #b5d9ff;
            border-color: #b5d9ff;;
        }
        .servicebutton a {
            color: black;
            text-decoration: none;
        }
        #newsletterbtn {
            color:black;
        }
        form {
            padding-top: 10px;
        }
       .formsection input[type="text"] {
           width: 120%;
       }
       .contact-us {
        padding: 5% 8%;
       }
        .contact-us p {
            font-size: 18px;
            /* padding-top: 20px; */
            text-align: left;
            padding: 2% 10%;
            
            
        }
        .footer-section  {
            background-color: #2364AA;

        }
        /* .formsection button {
            margin-top: 5px;
                        
        } */
        .formsection h1 {
            text-decoration: none;
            padding-top: 3%;
            font-size: 30px;
            
        }
        footer {
            background-color: white;
            

        }
        h1, h2, h3, h4, h5, h6, a, li{
            font-family: 'Antonio', sans-serif;
        }
        p{
            font-family: 'Poppins', sans-serif;
        }
                /* NAV STYLING */
        nav{
            background-color: #2364AA;
            color: #000000;
            /* position: fixed; */
            padding: 0.5% 5%;
            align-items: center;
        }
        #nav{
            position: fixed;
            z-index: 3;
        
        }
        .navbar-links{
            margin-right: 10%;
        }
        .navbar-links li{
            list-style: none;
            font-size: 1.3rem;
        }
        .logo{
            padding-left: 5%;
        }
        .logo a {
            text-decoration: none;
        }
        .logo a h1{
            color: #FFFFFF;
            font-size: x-large;
            padding: 2% 0%;
        }
        span{
            background-color: #b5d9ff;
            padding: 5px;
            color: #000000;
            border-radius: 0.1rem 1rem;
        }
        
        .nav-link{
            color: #FFFFFF;
            font-weight: bolder;
            padding: 0.5rem;
            margin-left: 1rem;
            border-radius: 15px;
        } 
        .nav-link:hover{
            background-color: #b5d9ff;
            color: #000000;
        }
                /* NAV STYLING */
        
        
               /* FOOTER STYLING */
        footer{
            background-color: #b5d9ff;
            text-align: left;
            color: #000000;
        }
        footer li{
            list-style: none;
        }
        footer a{
            text-decoration: none;
            color: #000000;
        }
        footer .btn{
            margin-top: 1%;
            background-color: #2364AA;
            padding: 2%;
            font-family: 'Poppins', sans-serif;;
        }
        footer .btn:hover{
            background-color: #2364aab2;
        }
        .form{
            padding-top: 1.5%;
        }










        
      
                          